@import 'mixin';

h2{
    @include h2;
}


.invitadas{
    display: grid;
    grid-template-columns: 1fr;

   img{
        width: 100%;
    }
}

@media screen and (min-width: 768px){

    br{
        display: none;
    }
   
    .estelares{
        padding-left: 1.5em;
    }
    
    .invitadas{
       grid-template-columns: repeat(3, 1fr);
       margin-bottom: 1.5em;
   } 
}

@media screen and (min-width: 1024px){
    .estelares{
        padding-left: 2.3em;
    }
}
